/*--------------------------------------------------------------
# Variables responsive
--------------------------------------------------------------*/
$tablet-min: 768px;
$tablet-max: 991px;
$movilbig-min: 480px;
$movilbig-max: 767px;
$movillittle-min: 319px;
$movillittle-max: 479px;
$special-case-desktop-min: 992px;
$special-case-desktop-max: 1227px;
$case-desktop-special-min: 1228px;
$case-desktop-special-max: 1460px;

/*--------------------------------------------------------------
# Colores
--------------------------------------------------------------*/


